@font-face {
    font-family: 'abril';
    src: url('AbrilFatface-Regular.otf');
}

.background {
    -fx-background-color: #1d1d1d;
}


.button {
    -fx-font-family: 'abril';
    -fx-background-color: #2f6806;
    -fx-text-fill: rgba(250, 247, 247, 0.99);
}
.cell-pane {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.alive {
    -fx-background-color: #fff;
}